*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background-color: #131B22;
}
html {
  scroll-behavior: smooth;
}
html, body{
  max-width: 100%;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #131B22;
}
::-webkit-scrollbar-thumb{
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: #000000;
  border: 1px solid #65757f;
}
::-webkit-scrollbar-thumb:hover{
  -webkit-border-radius: 12px;
  border-radius: 12px;
  background: #000000;
  border: 2px solid #f7fbff;
}
hr{
  background: rgba(217, 217, 217, 0.09);
  width: 100%;
}
#tracado{
  margin-left: 48%;
  margin-top: -20px;
}
.container{
  background-image: url("./Blue\ Geometric\ Identity\ Business\ ID\ Card\ \(1\)\ 1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.menu-Content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 18px;
  margin-bottom: 38px;
  
}
.menu-Content img{
  width: 100px;
}
.menu ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 60px;
}
.menu a{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-decoration: none;
}
.menu a:hover{
  border-bottom: 3px solid #38D112 ;
}
.apresentacaoContent{
  display: flex;
  align-items: center;
  gap: 55vh;
  margin-left: 15vh;
  margin-right: 15vh;
  margin-top: 25px;
  margin-bottom: 55px;
  border-radius: 20px;
  background-image: url("./Rectangle\ 9.svg");
}


.texto{
  color: #F3F3F3;

}
.texto h1{
  font-size: 60px;
  font-family: 'Roboto Condensed', sans-serif;
}

.texto span{
  color: red;
}
.texto h4{
  font-size: 25px;
  margin-top: 20px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}
.servicos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-image: url("./Blue\ Geometric\ Identity\ Business\ ID\ Card\ 1\ \(1\).png");
  background-size: cover;
}
.servicos h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid rgba(0, 240, 255, 0.3);
  border-radius: 20px;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.servicos-Content{
  display: flex;
  justify-content: center;
  gap: 50px;
}
.card{
  height: 350px;
  width: 400px;
  background: rgba(0, 168, 191, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card:hover{
  background: rgba(0, 168, 191, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 194, 255, 0.76);
  border-radius: 10px;
}
.title-content{
  color: white;
  font-family: 'Share Tech', sans-serif;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.portifolio{
  background-image: url("./Blue\ Geometric\ Identity\ Business\ ID\ Card\ \(3\)\ 1.png");
  background-image: url("./Blue\ Geometric\ Identity\ Business\ ID\ Card\ \(3\)\ 2.png");
  background-repeat:inherit;
  background-size: contain;
}
#empresa{
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
.portifolio-Empresas{
  display: flex;
  justify-content: center;
  align-items: center;
}
#btn-carrossel{
  background: rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(134, 134, 134, 0.4);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 40px;
  border-radius: 50%;
}

.portifolio h1{
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
  text-align: center;
  border: 1px solid rgba(0, 240, 255, 0.3);
  border-radius: 20px;
  padding: 10px;
  width: 700px;
  margin: auto;
}
.fomulario{
  background-image: url("./img/fundo-formulario");
  background-position: left top;
  background-size: contain ;
  background-repeat: no-repeat;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.fomulario-Content{
  width: 800px;
  height: 500px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #4A4A4A;
  border-radius: 0px 0px 20px 20px;
  margin: 0 auto;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
}

.fomulario-Content input{
  width: 600px;
  height: 40px;
  margin-left: 10vh;
  font-size: 17px;
  padding: 5px;
  margin-top: 20px;
  border: 2px solid #D1D1D1;
  border-radius: 10px;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #4A4A4A;
  border-radius: 10px;
}
.fomulario-Content h4{
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 10vh;
  background: rgba(0, 0, 0, 0);
  color: #F2F2F2;
}
.fomulario-Content button{
  width: 300px;
  height: 60px;
  margin: 0 auto;
  background: linear-gradient(180deg, #00A3FF 0%, #00488A 100%);
  border-radius: 10px;
  border: none;
  color: white;
  margin-top: 20px;
  font-size: 20px;
}
.fomulario-Content img{
  width: 100px;
  background: rgba(0, 0, 0, 0);
  margin: 0 auto;
  margin-bottom: -70px;
  margin-top: 10px;
}
.rodape{
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  gap: 45vh;
  padding: 10vh;
}

.rodape img{
  width: 100px;
}
.agencia{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.nav-link{
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-decoration: none;
}
.endereco{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.redes h2{
  margin-bottom: 10px;
}
.redes img{
  width: 40px;
  margin-left: 5px;
}
.mobile-icon{
  display: none;
}
.menu-mobile{
  display: none;
}
@media screen and (max-width: 1565px){
  .menu a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
  }
  .texto h1{
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .texto h4{
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
  .img img{
    width: 400px;
  }
  .servicos-Content{
    display: flex;
    gap: 10px;
  }
  .servicos-Content img{
    height: 300px;
    width: 200px;
  }
  .title-content{
    font-size: 18px;
    text-align: center;
    margin-left: -70px;
  }
  .rodape{
    gap: 35vh;
  }
}
@media screen and (max-width: 1480px){
  .img{
    display: none;
  }
}
@media screen and (max-width: 1120px){

  .texto h1{
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .texto h4{
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
  }
  .servicos-Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .rodape{
    gap: 10px;
  }
}
@media screen and (max-width: 1395px){
  .rodape{
    gap: 20vh;
  }
}
@media screen and (max-width: 750px) {
    
    .nav-item{
      display: none;
    }
    .mobile-icon{
      display: block;
      
    }
    .mobile-icon img{
      width: 40px;
      color: white;

    }
    .mobile-icon button{
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .menu-mobile ul{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
      scroll-behavior: smooth;
    }
    .menu-mobile .nav-item{
      display: block;
      padding-top: 1.2rem;
      
    }
    .open{
      display: block;
    }  
}
@media screen and (max-width: 414px){
  .menu-Content{
    justify-content: space-between;
    gap: 100px;
    margin-left: 20px;
  }
  .texto h1{
    font-size: 25px;

  } 
  .texto h4{
    font-size: 15px;
    width: 300px;
  }
  .apresentacaoContent{
    margin-left: 40px;
  }
  
  .servicos h1{
    width: 300px;
    padding: 4px;
    text-align: center;
    font-size: 15px; 
  }
  .servicos-Content{
    gap: 35px;
  }
  .card{
    width: 260px;
    height: 200px;
  }
  .title-content{
    font-size: 12px;
    text-align: center;
    margin-left: 5px;
  }
  .card-content img{
    height: 150px;
  }
  .portifolio h1{
    font-size: 18px;
    padding: 10px;
    width: 300px;
  }
  hr{
    width: 100vh;
  }
  #empresa{
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }
  #btn-carrossel{
      width: 40px;
      padding: 10px;
  }
  .fomulario{
    background-size: cover;
  }
  .fomulario-Content{
    font-size: 15px;
    text-align: justify;
    width: 350px;
    height: 400px;
    margin-left: 20px;
  }
  .fomulario h4{
    width: 300px;
    margin-left: 25px;
  }
  .fomulario-Content input{
    width: 300px;
    height: 30px;
    font-size: 12px;
    margin-left: 20px;
  }
  .fomulario-Content button{
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 20px;
  }
  .linha{
    width: 50vh;
  }
  hr{
    width: 49vh;
  }
  .rodape{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin-left: 1vh;
    margin-right: 10vh;
  }
  .agencia{
    width: 200px;
    margin-left: 10vh;
  }
  .endereco{
    width: 300px;
    margin-left: 20vh;
  }
  .redes{
    width: 200px;
    margin-left: 18vh;
  }
}
@media screen and (max-width: 375px) {
  .menu-Content{
    display: flex;
    justify-content: space-between;
    gap: 110px;
  }
  .texto h1{
    font-size: 20px;
  } 
  .texto h4{
    font-size: 15px;
    width: 330px;
  }
  .servicos h1{
    margin-left: 05vh;
    width: 300px;
  }
  .servicos-Content{
    margin-left: 04vh;
    gap: 35px;
  }
  .portifolio h1{
    font-size: 18px;
    padding: 10px;
    margin-left: 50px;
    width: 300px;
  }
  .portifolio-Empresas{
    margin-left: 35px;
  }
  #empresa{
    height: 200px;
    margin-left: 20px;
    margin-right: 10px;
  }
  #btn-carrossel{
      width: 40px;
      padding: 10px;
  }
  .fomulario{
    background-size: cover;
  }
  .fomulario-Content{
    width: 300px;
    margin-left: 50px;
  }
  .fomulario h4{
    width: 250px;
    margin-left: 20px;
  }

  .fomulario-Content input{
    width: 250px;
    margin-left: 20px;
  }
  .rodape{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin-left: 7vh;
    margin-right: 10vh;
  }
  .agencia{
    width: 200px;
    margin-left: 10vh;
  }
  .endereco{
    width: 300px;
    margin-left: 20vh;
  }
  .redes{
    width: 200px;
    margin-left: 18vh;
  }
}
@media screen and (max-width: 360px){
  .menu-Content{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-left: 20px;
  }
  .texto h1{
    font-size: 20px;
  } 
  .texto h4{
    font-size: 15px;
    width: 280px;
  }
  .servicos-Content{
    gap: 35px;
  }
  .servicos h1{
    margin-left: 2vh;
    width: 300px;
  }
  .servicos-Content{
    margin-left: 2vh;
    gap: 35px;
  }
  .portifolio h1{
    font-size: 15px;
    padding: 10px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 5vh;
  }
  #empresa{
    height: 200px;
    margin-left: 20px;
    margin-right: 10px;

  }
  #btn-carrossel{
      width: 40px;
      padding: 10px;
  }
  .fomulario{
    background-size: cover;
  }
  .fomulario-Content{
    width: 300px;
    margin-left: 30px;
  }
  .fomulario h4{
    width: 250px;
    margin-left: 20px;
  }

  .fomulario-Content input{
    width: 250px;
    margin-left: 20px;
  }
  #tracado{
    margin-left: 22vh;
  }
  hr{
    overflow: hidden;
    width: 50vh;
  }
  .rodape{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin-left: 00vh;
    margin-right: 10vh;
  }
  .agencia{
    width: 200px;
    margin-left: 10vh;
  }
  .endereco{
    width: 300px;
    margin-left: 20vh;
  }
  .redes{
    width: 200px;
    margin-left: 18vh;
  }
}
